<nav>
  <div class="site-title">
    <a href="/"><h1>Tortugas</h1></a>
    <p>Sí, Tortugas.</p>
  </div>
  <ul>
    <li><a href="/">Tortugas</a></li>
    <li><a href="/imagenes">Imagenes</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>