<nav>
  <div class="site-title">
    <a href="/"><h1>Express Web</h1></a>
    <p>A Reus Web Hacker's Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/novedades">Novedades</a></li>
    <li><a href="/numeros">Contabilidad</a></li>
    <li><a href="/limones">Limones</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/canciones">Canciones</a></li>
    <li><a href="/cantos">Cantos</a></li>
    <li><a href="/canticos">Canticos</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>