<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Canciones</h2>
    <ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus commodi rem molestias veniam tempora! Eos ex neque reprehenderit, porro blanditiis ab quae nostrum, dolorum commodi itaque error qui doloremque modi dolor consequatur, reiciendis adipisci temporibus obcaecati numquam. Exercitationem, ad dicta? Perspiciatis aliquid consequuntur, odit inventore possimus commodi voluptate! Ipsum dolores nulla aspernatur enim est sunt, eos unde suscipit rerum architecto dolore alias adipisci dignissimos libero iusto nihil fugit natus fugiat quas dolorem veniam facere vitae? Rem fuga non illum. Quis magni adipisci atque recusandae. Rerum sed, accusamus voluptatem ex quas aliquam modi et. Ipsam numquam placeat possimus, blanditiis temporibus non.</p>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>