<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Canticos</h2>
    <ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae illum ducimus quis fuga maiores ex atque. Voluptate, error autem. Aspernatur ipsum, ad alias iusto ex officia ea, mollitia officiis reiciendis inventore perferendis quod voluptatem earum et reprehenderit fugiat nam quibusdam consequuntur in suscipit magnam enim. Itaque dignissimos tempore consectetur, debitis, voluptatem quis recusandae optio provident dicta placeat, sit adipisci sint perferendis officia reiciendis aperiam vero eos consequatur voluptas laborum excepturi asperiores? Provident non quae iste sunt assumenda rem neque blanditiis aut ex officiis mollitia optio, error minima temporibus eos quam. Repellat, amet deserunt? In facere aliquid maxime magni quis?.</p>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>