<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Cantos</h2>
    <ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem totam rem error vero ab ad cumque accusantium deleniti, natus maiores inventore nesciunt quibusdam praesentium vitae rerum temporibus. Iusto natus architecto atque, earum sed sequi cum, distinctio, ullam dignissimos dolores fugiat. Adipisci sit officia nulla quaerat debitis delectus atque dicta neque eveniet! Dolorem libero doloremque quia. Rem, expedita. Error quasi assumenda laborum necessitatibus, eligendi fuga aliquid libero minus dolore adipisci iure, consequuntur itaque animi vero vel? Nihil voluptate optio vel vitae voluptatem quia quis vero? Rem unde quidem sit itaque. Rerum repellat reprehenderit iure blanditiis recusandae, non aliquam alias excepturi? Sequi!</p>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>