<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <% if (turtles.length > 0) { %>
      <% turtles.forEach(turtle => { %>

        <p class="snippet">
            <img src="<%= turtle.image %>">
        </p>

      <% }) %>
    <% } else { %>
      <p>¡No hay imagenes!</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>