<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Los Limones</h2>
    <ul>
        <p>De la mejor calidad.</p>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>