<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>La Contabilidad</h2>
    <ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet fuga culpa delectus veniam est beatae eaque ut officia expedita quidem, saepe, pariatur, recusandae adipisci. Molestiae possimus voluptas est adipisci!</p>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>